<nav>
<a routerLink="/news">News</a>
<a routerLink="/profile">Profile</a>
<a routerLink="/buddy">Buddy</a>
<a routerLink="/forum">Forum</a>
<a routerLink="/chat-parents">Chat</a>
</nav>

<br>
<br>

 <!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The form -->
<form class="example" action="action_page.php">
  <input type="text" placeholder="Search.." name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
</form> 


<br>
<br>

<article>
      <h2>Title</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo molestias ex officia eligendi reiciendis fuga magnam? Ullam ut ab doloremque accusamus iusto aliquam facilis sapiente!</p>
    </article>